<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Playlist Maker</title>
  <!--<link rel="shortcut icon" href="/assets/img/favicon.png"/> -->
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    {{#unless isPremium}}
    <div class="navlink" id="getPremium"><a id="getPremiumLink">Get Premium</a></div>
    {{/unless}}
  </nav>

  {{#unless isPremium}}
  <section id="adSpace">
    <img id="ad_1" src="../assets/img/ad_2.png">
    <img id="ad_2" src="../assets/img/ad_2.png">
    <img id="ad_3" src="../assets/img/ad_1.png">
  </section>
  {{/unless}}

  <section id="app">

  </section>

  <div id="errorBox" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
