<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Playlist Maker</title>
  <!--<link rel="shortcut icon" href="/assets/img/favicon.png"/> -->
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="" alt="face logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    <div class="navlink"><a id="passChangeButton" href="/passChange">Change Password</a></div>
  </nav>
  
  <section id="adSpace">
    <img id="ad_1" src="../assets/img/ad_2.png">
    <img id="ad_2" src="../assets/img/ad_2.png">
    <img id="ad_3" src="../assets/img/ad_1.png">
  </section>

  <section id="content">

  </section>

  <div id="errorBox" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
