html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}


.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    /*margin: 0.5em;*/
    outline: black 1px solid;
    column-gap: 10px;
}

.songList {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 16%;
    overflow: scroll;
    height: 65%;
    width: 30%;
    outline: black 1px solid;
    z-index: 0;
}

.songInfo {
    flex-grow: 3;
    text-align: left;
}

h3.songTitle {
    margin: 5px;
}

h3.songArtist {
    margin: 5px;
    font-size: small;
}

p.songLength, button.songButton, a.songLink {
    align-self: flex-end;
    margin: 0px;
    margin-bottom: 5px;
}

a.songLink {
    margin-right: 5px;
}

#ad_1 {
    position: fixed;
    left: 5px;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    height: 80%;
    vertical-align: middle;
}

#ad_2 {
    position: fixed;
    right: 5px;
    width: 15%;
    display: inline-block;
    height: 80%;
    vertical-align: middle;
}

#ad_3 {
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 50%;
    bottom: 5px;
    left: 25%;
}

.songForm {
    display: flex;
    flex-direction: column;
}
/*CSS obtained from https://www.geeksforgeeks.org/javascript/how-to-create-a-popup-form-using-html-css-and-javascript/*/
.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.popup-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 320px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}
/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for popup */
.overlay-container.show {
    display: flex;
    opacity: 1;
}