html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(83, 83, 83);
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #009434;
    display: flex;
    justify-content: center;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-weight: bold;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #009434;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #009434;
}


.mainForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 1.2em;

    label {
        color: white;
    }

    input {
        margin-bottom: 10px;
    }
}

.mainForm h3 {
    text-align: center;
}

#loginPageContainer {
    background-color: rgb(41, 41, 41);
    margin: auto;
    width: 50%;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    width: fit-content;
    background-color: rgb(20, 255, 55);
    border-radius: 5px;
    border: hidden;
    padding: 3px 0px;
    text-decoration: none;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(17, 204, 45);
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

.playlistFormContainer {
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
    padding-top: 10%;
}

.playlistForm {
    margin: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: white;
    border-radius: 3px;

    label {
        margin-top: 10px;
    }
    
}

.makePlaylistSubmit {
    margin-bottom: 10px;
    background-color:rgb(20, 255, 55);
    border: hidden;
    border-radius: 5px;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    /*margin: 0.5em;*/
    outline: rgb(67, 67, 67) 1px solid;
    column-gap: 10px;
}

.songList {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 16%;
    overflow: scroll;
    height: 65%;
    width: 30%;
    outline: black 4px solid;
    background-color: rgb(41, 41, 41);
    color: white;
    z-index: 0;
    margin-top: 5px;
}


#playlistTime {
    font-size: large;
    margin: 0px 5px;
}

#playlistName {
    margin-top: 10px;
    margin-bottom: 5px;
}

.playlistHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addSongButton {
    align-self: center;
    height: 50%;
    border-radius: 50px;
    margin-right: 15px;
    background-color: rgb(20, 255, 55);
    border: hidden;
}
.addSongButton:hover {
    background-color: rgb(17, 204, 45);
}
.addSongButton:active {
    background-color: rgb(33, 252, 66);
}

.songInfo {
    flex-grow: 3;
    text-align: left;
}

h3.songTitle {
    margin: 5px;
}

h3.songArtist {
    margin: 5px;
    font-size: small;
    color: lightgray;
}

p.songLength, button.songButton, a.songLink {
    align-self: flex-end;
    margin: 0px;
    margin-bottom: 5px;
}

button.songButton{
    background-color: rgb(20, 255, 55);
    border: hidden;
    border-radius: 5px;
    margin-right: 5px;
}
button.songButton:hover {
    background-color: rgb(17, 204, 45);
}
button.songButton:active {
    background-color: rgb(33, 252, 66);
}

a.songLink {
    margin-right: 5px;
    
}
a.songLink:link {
    color: lightseagreen;
}
a.songLink:visited {
    color: blueviolet;
}

#ad_1 {
    position: fixed;
    left: 5px;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    height: 80%;
}

#ad_2 {
    position: fixed;
    right: 5px;
    width: 15%;
    display: inline-block;
    height: 80%;
    vertical-align: middle;
}

#ad_3 {
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 50%;
    bottom: 5px;
    left: 25%;
}

.songForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
}
.songFormTitle, .songFormArtist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2px;
    input {
        width: 70%;
    }
}

.songFormLength {
    width: 100%;
    margin-bottom: 2px;
    input {
        width: 35%;
    }
    label {
        padding-right: 13%;
    }
}

.songFormButtons {
    align-self: center;
    width: 100%;

    input {
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgb(20, 255, 55);
        width: 30%;
        border-radius: 5px;
        border-style: hidden;
    }
    input:hover {
    background-color: rgb(17, 204, 45);
    }
    input:active {
        background-color: rgb(33, 252, 66);
    }
}





/*CSS obtained from https://www.geeksforgeeks.org/javascript/how-to-create-a-popup-form-using-html-css-and-javascript/*/
.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.popup-box {
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 320px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
    background-color: rgb(41, 41, 41);
    color: white;

}
/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for popup */
.overlay-container.show {
    display: flex;
    opacity: 1;
}